
@{
    ViewData["Title"] = "Formulario - MovieApp";
}

<h1>Formulario</h1>

@{

    <div>
        <form asp-controller="Home" asp-action="Formulary" method="post">
            <label ="Nome: "></label><br />
            <input type="text" placeholder="Digite seu nome" />
            <label ="Sobrenome: "></label><br />
            <input type="text" placeholder="Digite seu sobrenome" />
            <label ="Email: ">
                </label">
                <input type="email" placeholder="Digite seu email" />
                <label ="Telefone: "></label>
                <input type="tel" placeholder="Digite seu telefone" />
        </form>
    </div>
}

