@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Galery";
}




<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbn6Ej-ZBckGoKhtazuIJMvFeHZigNhbtuQw&usqp=CAU");
        }
    </style>

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" 
          />

</head>
<body>
    

    <div class="card mb-3 animate__animated animate__flip" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://media.fstatic.com/PhCaNPwhFCRqvlLUC5A0nZBztsE=/290x478/smart/media/movies/covers/2011/12/2a5779e0760d71bfd3c5b3b663b0c844.jpg" class="card-img" alt="Os caça-fantasmas" title="Os caça-fantasmas">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Os caça-fantasmas</h5>
                    <p class="card-text">Depois de serem chutados de suas posições na Universidade, os parapsicologistas Egon Spengler, Raymond Stantz e Peter Venkman, decidem abrir seu próprio negócio de caçadores de fantasmas. Quando um portal para uma outra dimensão é aberto em Nova York, eles passarão a ter muito trabalho para salvar a cidade.</p>                    
                    <footer class="card" style="background-color:darkgray">
                        <p class="card-text"><small class="text-light">Last updated 3 mins ago</small></p>
                    </footer>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 animate__animated animate__flip" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://upload.wikimedia.org/wikipedia/pt/0/0c/BackFuture2Poster.jpg" class="card-img" alt="De volta para o futuro 2" title="De volta para o futudo 2">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Marty McFly e o cientista "Doc" Brown viajam de 1985 a 2015 para evitar que o filho de Marty estrague o futuro da família McFly. Porém, seu arqui-inimigo Biff Tannen rouba a máquina do tempo de Doc, o DeLorean, e a usa para alterar a história em seu benefício, forçando a dupla a retornar a 1955 para restaurar a linha do tempo.</p>
                    <footer class="card" style="background-color:darkgray">
                        <p class="card-text"><small class="text-light">Last updated 3 mins ago</small></p>
                    </footer>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 animate__animated animate__flip" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://br.web.img2.acsta.net/medias/nmedia/18/91/98/15/20172684.jpg" class="card-img" alt="Indiana Jones e a última cruzada" title="Indiana Jones e a última cruzada">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Indiana Jones e a última cruzada</h5>
                    <p class="card-text">Indiana Jones (Harrison Ford) e seu ajudante Mac (Ray Winstone) escapam por pouco de um encontro com agentes soviéticos, em um campo de pouso remoto. Agora Indiana está de volta à sua casa na Universidade Marshall, mas seu amigo e reitor da escola, Dean Stanforth (Jim Broadbent), explica que suas ações recentes o tornaram alvo </p>
                    <footer class="card" style="background-color:darkgray">
                        <p class="card-text"><small class="text-light">Last updated 3 mins ago</small></p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




