@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Galery";
}




<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbn6Ej-ZBckGoKhtazuIJMvFeHZigNhbtuQw&usqp=CAU");
        }
    </style>
</head>
<body>
    <div>
        <h1 style="color:red">Galeria de imagens</h1><br />
    </div>
    
        <div class="card-deck">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/pt/0/0c/BackFuture2Poster.jpg" width="310" height="250" class="card-img-top" alt="De volta para o futuro 2" title="De volta para o futuro 2">
            <div class="card-body">
                <h5 class="card-title">De volta para o futuro 2</h5>
                <p class="card-text">Marty McFly e o cientista "Doc" Brown viajam de 1985 a 2015 para evitar que o filho de Marty estrague o futuro da família McFly.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    


</body>
</html>




