@{
    ViewData["Title"] = "Welcome";
    //Essa linha de código significa que Welcome é o título principal da página.
    
}


<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
    <li>@ViewData["Message"]</li>
    }

</ul>










